<form action="/payment/results">
  <label for="apr">APR</label>
  <input id="apr" type="text" placeholder="E.g. 5.42" name="user_apr"> 

  <label for="numyears">Number of years</label>
  <input id="numyears" type="text" placeholder="How many years to repay?" name="user_years"> 

  <label for="prncpl">Principal</label>
  <input id="prncpl" type="text" placeholder="How much principal?" name="user_pv"> 

  <button>Calculate monthly payment</button>
</form>

<a href= ">
